/* Page coloring */
.nav-wrapper {
  background-color: #4e342e;
}
.page-footer {
  background-color: #4e342e;
}

#bcButton {
  background-color: #d50000;
}

#Activities {
  background-color: #aa1010;
  color: black;
}
/* -------------------------- */

/* text editing and alignment */
#parkInfo {
  font-weight: bolder;
  font-style: normal;
}

#parkActivity {
  font-weight: bolder;
  font-style: normal;
}

#bcInfo {
  font-style: normal;
}

.comment {
  word-wrap: break-word;
  text-align: left;
}

#commTitle {
  text-align: center;
}

.row {
  text-align: center;
  clear: center;
  align-content: center;
}
.containerInfo {
  text-align: justify;
  width: 100%;
}
#infotitle {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
.mobileStack {
  font-style: oblique;
}
.parkInfoTitle {
  text-align: justify;
  font-style: oblique;
  font-weight: 600;
  text-align: center;
}
.parkInfo {
  font-style: oblique;
}

@media only screen and (max-width: 800px) {
  .containerInfo {
    margin: 10px;
  }
  body {
    align-content: center;
  }
  .row {
    width: 100%;
  }
}
/* ------------------------------------------- */
