.nav-wrapper {
  background-color: #ffc107;
}
.page-footer {
  background-color: #ffc107;
}

#sdButton {
  background-color: #e65100;
}

#parkInfo {
  font-weight: bolder;
  font-style: normal;
}

#parkActivity {
  font-weight: bolder;
  font-style: normal;
}

#mvInfo {
  font-style: normal;
}

#Activities {
  background-color: #e65100;
  color: black;
}

.row {
  text-align: center;
  clear: center;
  align-content: center;
}

.containerInfo {
  text-align: justify;
  width: 100%;
}
#infotitle {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
.mobileStack {
  font-style: oblique;
}
.parkInfoTitle {
  text-align: justify;
  font-style: oblique;
  font-weight: 600;
  text-align: center;
}
.parkInfo {
  font-style: oblique;
}

@media only screen and (max-width: 800px) {
  .containerInfo {
    margin: 10px;
  }
  body {
    align-content: center;
  }
  .row {
    width: 100%;
  }
}
